if SHIELD_CYBOARD_DONGLE

config ZMK_KEYBOARD_NAME
    default "Cyboard"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

if ZMK_DISPLAY

config I2C
    default y

config SSD1306
    default y

choice ZMK_DISPLAY_WORK_QUEUE
    default ZMK_DISPLAY_WORK_QUEUE_DEDICATED
endchoice

endif

endif

if SHIELD_CYBOARD_DONGLE || SHIELD_CYBOARD_LEFT || SHIELD_CYBOARD_RIGHT

config ZMK_SPLIT
    default y

endif
